<form [formGroup]="myForm">
  <my-input-component
    type="text"
    formControlName="firstName"
  ></my-input-component>
  <my-input-component
    type="text"
    formControlName="lastName"
  ></my-input-component>
  <my-input-component
    type="text"
    formControlName="nickName"
  ></my-input-component>
  <button (click)="saveForm()">Mentés</button>
</form>

<div *ngIf="showSavedValues">
  <h3>Mentett értékek:</h3>
  <p>Vezetéknév: {{ myForm.get("lastName")?.value }}</p>
  <p>Keresztnév: {{ myForm.get("firstName")?.value }}</p>
  <p>Email: {{ myForm.get("email")?.value }}</p>
</div>
